name: Executar Robô de Vagas Diário

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar repositório
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      # --- NOVO: INSTALAR GOOGLE CHROME E DEPENDÊNCIAS DO SISTEMA ---
      - name: Instalar Google Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Instalar dependências do Python
        run: |
          pip install -r requirements.txt

      - name: Rodar o Robô
        run: python extrator_vagas.py

      - name: Salvar o Excel atualizado no GitHub
        run: |
          git config --global user.name 'Robo Vagas'
          git config --global user.email 'robo@noreply.github.com'
          git add vagas_apinfo.xlsx
          git commit -m "Atualização automática: $(date)" || exit 0
          git push